<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div style="text-align:center">

    <h1>
      Welcome to LoanQuoteApp!
    </h1>

  </div>


  <form [formGroup]="approximateAnnualInterestRateForm">

    <div class="row padding-top">
      <div class="col-3 offset-1">
        <mat-form-field class="width-100">
          <input matInput formControlName="principal" type="number" min="1" max="100000" placeholder="Principal"
            oninput="validity.valid||(value='');">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="width-100">
          <input matInput formControlName="term" type="number" min="1" max="100000" placeholder="Term"
            oninput="validity.valid||(value='');">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="width-100">
          <input matInput formControlName="monthlyPayment" type="number" min="1" max="100000"
            placeholder="Monthly Payment" oninput="validity.valid||(value='');">
        </mat-form-field>
      </div>
    </div>
    <div class="row align-items-center padding-top">
      <div class="col text-center">
        <button mat-raised-button color="primary" type="button" (click)="getApproximateAnnualInterestRate()">
          Get Approximate Annual Interest Rate
        </button>
      </div>
    </div>
  </form>

  <div class="row padding-top">
    <div class="col text-center"> Approximate Annual Interest Rate = {{resultAAIR}}</div>
  </div>

  <form [formGroup]="getMonthlyRepaymentForm">

    <div class="row padding-top">
      <div class="col-3 offset-1">
        <mat-form-field class="width-100">
          <input matInput formControlName="principal" type="number" min="1" max="100000" placeholder="Principal"
            oninput="validity.valid||(value='');">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="width-100">
          <input matInput formControlName="annualInterestRate" type="number" min="1" max="100000"
            placeholder="Annual Interest Rate" oninput="validity.valid||(value='');">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="width-100">
          <input matInput formControlName="numberOfPaymentPeriods" type="number" min="1" max="100000"
            placeholder="Number Of Payment Periods" oninput="validity.valid||(value='');">
        </mat-form-field>
      </div>
    </div>
    <div class="row align-items-center padding-top">
      <div class="col text-center">
        <button mat-raised-button color="primary" type="button" (click)="getMonthlyRepayment()">
          Get Monthly Repayment
        </button>
      </div>
    </div>
  </form>

  <div class="row padding-top">
    <div class="col text-center">Monthly Repayment = {{resultMonthlyRepayment}}</div>
  </div>

  <router-outlet></router-outlet>
</div>